.title {
    margin: auto;
    width: 450px;
    font-size: 3em;
    text-align: center;    
    color: rgb(7, 7, 7);
    margin-top: 200px;
    background-color: rgba(215, 224, 250, 0.596);
    border-radius: 5px;
}

